@model X.PagedList.IPagedList<trabalho.Models.Categoria>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Pagina de Categoria";
}

<h1 class="display-4">Categoria</h1>
<p>
    <a class="btn btn-primary" asp-action="Create">Adicionar Categoria</a>
</p>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    Nome
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.CategoriaID">Editar</a>
                            <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.CategoriaID">Detalhes</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CategoriaID">Apagar</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.PagedListPager(Model, pag => Url.Action("Index", new { pag }))
    </div>
</div>
